.corpo {
    background-color: blue;
}
.corpo-principal{
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.button{
    background-color: blue;
    font-size: 30px;
    width: 200px;
    height: 80px;
    margin-bottom: 20px;
}
.corpo-principal-imagem{
    margin-top: 40px;
}
.main-texto{
    margin-bottom: 50px;
}
.minha-imagem{
    width: 200px;
    height: 330px;
}
.caralindo{
    margin-bottom: 100px;
    
}
.botao-presente{
    width: 250px;
    height: 80px;
    margin-bottom: 50px;
    background-color: blue;
}
.Presente{
    font-size: 20px;
    display: inline;
    color: aliceblue;
}
